body {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header {
    font-size: 80px;
    font-weight: 800;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-pick {
    font-size: 20px;
    width: 200px;
    height: 50px;
    justify-self: center;
    border-radius: 10px;
}

.player-dialog {
    border-radius: 10px;
}

.player-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    border-radius: 10px;
    width: 200px;
    height: 300px;
}

.player-form-title {
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}

#player1-name, #player2-name {
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.player-confirm {
    border-radius: 10px;
    font-weight: 800;
}

.gameplay {
    display: grid;
    gap: 20px;
}

.display {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    align-content: center;
    width: 340px;
    height: 340px;
    justify-self: center;
    background-color: #553d67;
}

.tic {
    font-size: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one, .four {
    border-right: solid 3px white;
    border-bottom: solid 3px white;
}

.two, .five {
    border-right: solid 3px white;
    border-bottom: solid 3px white;
}

.three, .six {
    border-bottom: solid 3px white;
}

.seven, .eight {
    border-right: solid 3px white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 170px);
    width: 510px;
    height: 150px;
    border-top: solid 1px black;
    border-left: solid 1px black;
}

.board > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

.restart {
    font-size: 20px;
    width: 200px;
    height: 50px;
    justify-self: center;
    border-radius: 10px;
}

