.display {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    border: solid 1px red;
    align-items: center;
    justify-content: center;
}

.tic {
    width: 50px;
    height: 50px;
    border: solid 1px red;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player1 {
    border: 0;
    border-radius: 10px;
}
.player1-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr repeat(6, 1fr);
    gap: 20px;
    border-radius: 10px;
    width: 350px;
    height: 400px;
}